.suggestions p{
    font-size: 10px;
    color: #333;
    margin: 0.5rem;
    
    border: 1px solid #ccc;
    align-items: center;
    
    background-color: #f9f9f9;

    border: 1px solid #ccc;
    width: 400px;
}

.suggestions td:hover {
    background-color: gold;
    align-items: center;
}

